{% extends 'admin/base.admin.html.twig' %}

{% block body %}

<div class="h-full w-full flex items-center justify-center">

{{ form_start(pieceArt_form) }}

	<p class="text-gray-500">
	{{ form_label(pieceArt_form.name) }}
	</p>
	<div>
		{{ form_widget(pieceArt_form.name, { attr : {'class' : 'border border-gray-400 rounded-lg'}}) }}
	</div>
	<p class="text-gray-500">
	{{ form_label(pieceArt_form.description) }}
	</p>
	<div>
		{{ form_widget(pieceArt_form.description, { attr : {'class' : 'border border-gray-400 rounded-lg'}}) }}
	</div>
	<p class="text-gray-500">
	{{ form_label(pieceArt_form.date) }}
	</p>
	<div>
		{{ form_widget(pieceArt_form.photo, { attr : {'class' : 'border border-gray-400 rounded-lg'}}) }}
	</div>
	<p class="text-gray-500">
	{{ form_label(pieceArt_form.photo) }}
	</p>
	<div>
		{{ form_widget(pieceArt_form.artist, { attr : {'class' : 'border border-gray-400 rounded-lg'}}) }}
	</div>
	

{{ form_end(pieceArt_form) }}

</div>
{% endblock %}